n8n/cal-prospects/workflow.json
{
  "id": "RgWNZKt8V5fIob3P",
  "name": "CAL x.com prospects (x_search v6)",
  "active": true,
  "isArchived": false,
  "versionId": "8f194d79-e22d-41dd-a839-dbdfa4fd880e",
  "triggerCount": 1,
  "createdAt": "2026-02-04T14:12:12.578Z",
  "updatedAt": "2026-02-27T15:13:35.699Z",
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "timezone": "America/Chicago",
    "availableInMCP": true
  },
  "connections": {
    "8 AM & 3 PM CST": {
      "main": [
        [
          {
            "node": "Build xAI Prompt v6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build xAI Prompt v6": {
      "main": [
        [
          {
            "node": "xAI x_search API v6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "xAI x_search API v6": {
      "main": [
        [
          {
            "node": "Extract Prospects v6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Prospects v6": {
      "main": [
        [
          {
            "node": "Validate & Score v6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Score v6": {
      "main": [
        [
          {
            "node": "Build Email & PDF v6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email & PDF v6": {
      "main": [
        [
          {
            "node": "Prepare HTML Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare HTML Binary": {
      "main": [
        [
          {
            "node": "Convert to PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to PDF": {
      "main": [
        [
          {
            "node": "Prepare PDF Attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare PDF Attachment": {
      "main": [
        [
          {
            "node": "Has Prospects?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build email body": {
      "main": [
        [
          {
            "node": "Send Email (Resend)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Backup to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Prospects?": {
      "main": [
        [
          {
            "node": "Build email body",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Email (No Prospects)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            },
            {
              "triggerAtHour": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -208,
        496
      ],
      "id": "schedule-trigger",
      "name": "8 AM & 3 PM CST"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================================\n// CAL PROSPECTS v6 - Build xAI Prompt (BROADER TERMS VERSION)\n// ============================================================================\n// STRATEGY: Broad keyword searches + heavy reliance on semantic searches\n// - 6 keyword searches with simple, broad terms\n// - 6 semantic searches for nuanced discovery\n// - Let scoring logic identify quality signals\n// ============================================================================\n\n// ============================================================================\n// CONFIG\n// ============================================================================\nconst CONFIG = {\n  timeWindowHours: 72,\n  expectedSearches: { keyword: 6, semantic: 6, total: 12 },\n  model: 'grok-4-1-fast-reasoning',\n};\n\nconst now = new Date();\nconst timeWindowHours = CONFIG.timeWindowHours;\nconst startDate = new Date(now.getTime() - timeWindowHours * 60 * 60 * 1000);\n\nconst fromDate = startDate.toISOString().split('T')[0];\nconst toDate = now.toISOString().split('T')[0];\n\nconst prompt = `You are searching X/Twitter for potential constitutional law case prospects.\n\n## CRITICAL INSTRUCTIONS\nYou MUST execute ALL of the following searches using your x_keyword_search and x_semantic_search tools.\nDo NOT skip any searches. Execute each one separately and completely.\n\n## DATE RANGE\nSearch from ${fromDate} to ${toDate} (last ${timeWindowHours} hours)\n\n## KEYWORD SEARCHES - Execute ALL 6\nUse broad terms to cast a wide net.\n\n### Search 1: Police + Help-Seeking\nx_keyword_search: (police OR cops OR officer) (help OR lawyer OR advice OR sue OR rights) lang:en -filter:retweets\n\n### Search 2: Arrest + First Person\nx_keyword_search: (arrested OR detained OR searched) (me OR my OR I) (rights OR illegal OR warrant OR reason) lang:en -filter:retweets\n\n### Search 3: CPS + Children\nx_keyword_search: (CPS OR \"child protective services\" OR \"child welfare\") (children OR kids OR son OR daughter OR custody) lang:en -filter:retweets\n\n### Search 4: Civil Rights Lawyer\nx_keyword_search: (\"civil rights\" OR \"constitutional rights\" OR \"4th amendment\") (lawyer OR attorney OR violated OR help) lang:en -filter:retweets\n\n### Search 5: Family Court\nx_keyword_search: (\"family court\" OR custody OR \"parental rights\") (unfair OR corrupt OR help OR advice OR lawyer) lang:en -filter:retweets\n\n### Search 6: Police Misconduct\nx_keyword_search: (\"police misconduct\" OR \"excessive force\" OR \"police brutality\" OR \"false arrest\") lang:en -filter:retweets\n\n## SEMANTIC SEARCHES - Execute ALL 6\nThese find posts by meaning, not exact keywords. Be thorough.\n\n### Search 7: Warrantless Search/Arrest Stories\nx_semantic_search: \"person describing being arrested or searched by police without a warrant, telling their own story, seeking help or legal advice\"\n\n### Search 8: CPS Child Removal\nx_semantic_search: \"parent whose children were taken or removed by CPS or child protective services, first person account of what happened, asking for help\"\n\n### Search 9: Police Brutality Victims\nx_semantic_search: \"someone who was beaten, hurt, or mistreated by police officers, describing their own experience, looking for advice or a lawyer\"\n\n### Search 10: Family Court Injustice\nx_semantic_search: \"person dealing with unfair family court, lost custody unfairly, false allegations, seeking legal help or advice\"\n\n### Search 11: Rights Violated by Government\nx_semantic_search: \"person whose constitutional rights were violated by police or government, first person account, recent incident, asking what to do\"\n\n### Search 12: Need a Civil Rights Attorney\nx_semantic_search: \"someone actively looking for a civil rights lawyer or attorney to help with police misconduct, false arrest, or government overreach\"\n\n## FOCUS ON - MUST MATCH THESE CRITERIA\n- Posts from regular individuals (NOT news accounts, lawyers, legal orgs)\n- LOW engagement posts (< 50 likes) - real people seeking help\n- First-person accounts: \"I was\", \"they did\", \"my children\", \"happened to me\"\n- Help-seeking language: \"what can I do\", \"need help\", \"any advice\", \"looking for lawyer\"\n- U.S.-based incidents when apparent\n- Recent posts from past ${timeWindowHours} hours\n\n## EXCLUDE\n- News commentary or political opinions\n- Verified accounts or media personalities\n- Retweets or quote tweets\n- Satirical or joking posts\n- Viral posts (>500 likes)\n- Lawyers or legal organizations\n\n## OUTPUT FORMAT\nReturn qualifying prospects as JSON array:\n\n[\n  {\n    \"post_url\": \"https://x.com/username/status/1234567890123456789\",\n    \"username\": \"@username\",\n    \"full_text\": \"The exact original post text\",\n    \"constitutional_issue\": \"Brief description of the potential violation\",\n    \"category\": \"Fourth Amendment|Parental Rights|Due Process|Civil Rights|First Amendment\",\n    \"issue_details\": \"What happened, who was involved, what harm occurred\",\n    \"incident_recency\": \"today|yesterday|2 days ago|3 days ago\",\n    \"help_seeking_indicators\": [\"quoted phrase showing they need help\"],\n    \"engagement\": { \"likes\": 5, \"replies\": 2, \"retweets\": 0 },\n    \"case_viability\": \"High|Medium|Low\",\n    \"viability_reasoning\": \"Why this is a strong/weak prospect\"\n  }\n]\n\n## VERIFICATION\nAfter all searches, confirm:\n- Keyword searches executed: [should be 6]\n- Semantic searches executed: [should be 6]\n- Total prospects found: [number]\n\nReturn empty array [] if no qualifying posts found.\n\nBEGIN SEARCHING NOW.`;\n\nreturn {\n  json: {\n    prompt,\n    fromDate,\n    toDate,\n    timeWindowHours,\n    expectedSearches: CONFIG.expectedSearches,\n    model: CONFIG.model,\n    timestamp: now.toISOString(),\n    runTime: now.getHours() >= 12 ? 'afternoon' : 'morning'\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        496
      ],
      "id": "build-prompt-v6",
      "name": "Build xAI Prompt v6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.x.ai/v1/responses",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer ${XAI_API_KEY}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'grok-4-1-fast-reasoning', input: [{ role: 'user', content: $json.prompt }], tools: [{ type: 'x_search', from_date: $json.fromDate, to_date: $json.toDate }] }) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          },
          "timeout": 180000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        496
      ],
      "id": "xai-request-v6",
      "name": "xAI x_search API v6"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================================\n// CAL PROSPECTS v6 - Extract Prospects\n// ============================================================================\n\nconst response = $input.first().json;\nconst buildPromptData = $('Build xAI Prompt v6').first().json;\nconst expectedSearches = buildPromptData.expectedSearches?.total || 12;\n\nif (!response.body || !response.body.output) {\n  console.log('No valid response from xAI');\n  return { \n    json: { \n      prospects: [], \n      error: 'No valid response from xAI', \n      raw: response,\n      searchCallCount: 0,\n      expectedSearches\n    } \n  };\n}\n\nconst output = response.body.output;\nconst usage = response.body.usage || {};\nconst searchCallCount = usage.server_side_tool_usage_details?.x_search_calls || 0;\n\nlet textContent = '';\nlet annotations = [];\n\nfor (const item of output) {\n  if (item.type === 'message' && item.content) {\n    for (const block of item.content) {\n      if (block.type === 'output_text' || block.type === 'text') {\n        textContent = block.text || '';\n        annotations = block.annotations || [];\n        break;\n      }\n    }\n  }\n}\n\nif (!textContent) {\n  console.log('No text content in response');\n  return { \n    json: { \n      prospects: [], \n      error: 'No text content in response', \n      raw: response.body,\n      searchCallCount,\n      expectedSearches\n    } \n  };\n}\n\nlet prospects = [];\ntry {\n  let jsonMatch = textContent.match(/\\[\\s*\\{[\\s\\S]*?\\}\\s*\\]/g);\n  \n  if (jsonMatch) {\n    const largestMatch = jsonMatch.reduce((a, b) => a.length > b.length ? a : b);\n    prospects = JSON.parse(largestMatch);\n  } else {\n    const codeBlockMatch = textContent.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\n    if (codeBlockMatch) {\n      prospects = JSON.parse(codeBlockMatch[1].trim());\n    } else {\n      prospects = JSON.parse(textContent);\n    }\n  }\n} catch (e) {\n  console.log('Could not parse JSON, extracting from annotations');\n  \n  const urls = annotations\n    .filter(a => a.type === 'url_citation')\n    .map(a => a.url)\n    .filter(url => url && url.includes('x.com'));\n  \n  if (urls.length > 0) {\n    const uniqueUrls = [...new Set(urls)];\n    for (const url of uniqueUrls) {\n      const urlIndex = textContent.indexOf(url);\n      if (urlIndex !== -1) {\n        const start = Math.max(0, urlIndex - 500);\n        const end = Math.min(textContent.length, urlIndex + 500);\n        const context = textContent.substring(start, end);\n        \n        const usernameMatch = url.match(/x\\.com\\/([\\w]+)\\/status/);\n        const username = usernameMatch ? '@' + usernameMatch[1] : 'unknown';\n        \n        let category = 'Civil Rights';\n        if (/police|cop|officer|sheriff|arrest|search|seiz|warrant/i.test(context)) {\n          category = 'Fourth Amendment';\n        } else if (/cps|child protective|custody|family court|children|kids/i.test(context)) {\n          category = 'Parental Rights';\n        } else if (/speech|religion|assembly|press|protest/i.test(context)) {\n          category = 'First Amendment';\n        } else if (/due process|hearing|fair|procedure/i.test(context)) {\n          category = 'Due Process';\n        }\n        \n        prospects.push({\n          post_url: url,\n          username: username,\n          constitutional_issue: context.substring(0, 200).replace(/\\n/g, ' ').trim(),\n          category: category,\n          issue_details: context.replace(/\\n/g, ' ').trim(),\n          case_viability: 'Medium',\n          viability_reasoning: 'Extracted from x_search results - needs manual review',\n          _extracted_fallback: true\n        });\n      }\n    }\n  }\n}\n\nconst seen = new Set();\nprospects = prospects.filter(p => {\n  if (!p.post_url || seen.has(p.post_url)) return false;\n  seen.add(p.post_url);\n  return true;\n});\n\n// Cross-run deduplication using n8n static data\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.seenUrls) staticData.seenUrls = {};\n\nconst beforeDedup = prospects.length;\nprospects = prospects.filter(p => {\n  if (staticData.seenUrls[p.post_url]) return false;\n  staticData.seenUrls[p.post_url] = Date.now();\n  return true;\n});\nconst dedupRemoved = beforeDedup - prospects.length;\n\n// Prune entries older than 7 days\nconst cutoff = Date.now() - 7 * 24 * 60 * 60 * 1000;\nfor (const [url, ts] of Object.entries(staticData.seenUrls)) {\n  if (ts < cutoff) delete staticData.seenUrls[url];\n}\n\nconsole.log(`Extracted ${prospects.length} prospects (${dedupRemoved} duplicates removed) from ${searchCallCount} searches`);\n\nconst searchWarning = searchCallCount < expectedSearches \n  ? `WARNING: Only ${searchCallCount} of ${expectedSearches} searches executed` \n  : null;\n\nreturn {\n  json: {\n    prospects,\n    stats: {\n      total: prospects.length,\n      dedupRemoved,\n      searchCalls: searchCallCount,\n      expectedSearches,\n      searchWarning,\n      tokens: usage.total_tokens || 0,\n      costUsd: (usage.cost_in_usd_ticks || 0) / 1e9\n    },\n    rawText: textContent.substring(0, 8000),\n    annotations: annotations.slice(0, 100)\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        496
      ],
      "id": "extract-prospects-v6",
      "name": "Extract Prospects v6"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================================\n// CAL PROSPECTS v6 - Validate & Score\n// ============================================================================\n\n// ============================================================================\n// SCORING CONFIG\n// ============================================================================\nconst SCORING = {\n  baseScore: 50,\n  weights: {\n    violationClarity: { max: 20, perMatch: 4 },\n    governmentNexus: { max: 20, perMatch: 5 },\n    helpSeeking: { strong: 15, weak: 10 },\n    firstPerson: 5,\n    damages: 10,\n    recency: { today: 10, yesterday: 7, thisWeek: 5 },\n    specificDetails: { max: 10, officer: 4, department: 3, location: 3 },\n    engagement: { highThreshold: 500, lowThreshold: 50, highPenalty: -10, lowBonus: 5 },\n  },\n  tiers: { high: 85, medium: 65 },\n};\n\nconst input = $input.first().json;\nconst prospects = input.prospects || [];\nconst stats = input.stats || {};\n\nconst URL_PATTERN = /^https:\\/\\/(x\\.com|twitter\\.com)\\/([A-Za-z0-9_]{1,15})\\/status\\/(\\d{18,20})$/;\nconst URL_PATTERN_ALT = /^https:\\/\\/(x\\.com|twitter\\.com)\\/i\\/status\\/(\\d{18,20})$/;\n\nconst FAKE_HANDLE_PATTERNS = [\n  /^@?user\\d*$/i, /^@?test\\d*$/i, /^@?example\\d*$/i,\n  /^@?sample\\d*$/i, /^@?demo\\d*$/i, /^@?fake\\d*$/i,\n  /^@?placeholder\\d*$/i, /^@?person\\d*$/i\n];\n\nfunction isFakeHandle(handle) {\n  if (!handle) return true;\n  const normalized = handle.replace(\"@\", \"\").toLowerCase();\n  return FAKE_HANDLE_PATTERNS.some(p => p.test(normalized));\n}\n\nfunction validateProspect(p) {\n  const errors = [];\n  \n  if (!p.post_url) {\n    errors.push(\"Missing post URL\");\n  } else if (!URL_PATTERN.test(p.post_url) && !URL_PATTERN_ALT.test(p.post_url)) {\n    const shortIdMatch = p.post_url.match(/\\/status\\/(\\d{1,17})$/);\n    if (shortIdMatch) {\n      errors.push(`Invalid status ID (${shortIdMatch[1].length} digits) - likely hallucination`);\n    } else {\n      errors.push(\"Invalid X.com URL format\");\n    }\n  }\n  \n  if (p.username && p.username !== \"unknown\" && p.username !== \"@i\") {\n    if (isFakeHandle(p.username)) {\n      errors.push(\"Fake/placeholder username detected\");\n    }\n  }\n  \n  if (!p.constitutional_issue || p.constitutional_issue.length < 10) {\n    errors.push(\"Missing or too short constitutional issue\");\n  }\n  \n  return errors;\n}\n\nfunction scoreProspect(p) {\n  let score = SCORING.baseScore;\n  const factors = [];\n  \n  const content = ((p.constitutional_issue || \"\") + \" \" + (p.issue_details || \"\") + \" \" + (p.full_text || \"\")).toLowerCase();\n  \n  // VIOLATION CLARITY (+20 max)\n  const violationWords = [\n    \"arrest\", \"detained\", \"searched\", \"seized\", \"warrant\", \"rights\", \n    \"violated\", \"unconstitutional\", \"illegal\", \"unlawful\", \"brutality\", \n    \"excessive force\", \"false arrest\", \"wrongful\", \"misconduct\"\n  ];\n  const violationMatches = violationWords.filter(w => content.includes(w)).length;\n  score += Math.min(SCORING.weights.violationClarity.max, violationMatches * SCORING.weights.violationClarity.perMatch);\n  if (violationMatches >= 3) factors.push(\"Clear violation language\");\n  \n  // GOVERNMENT NEXUS (+20 max)\n  const govWords = [\n    \"police\", \"officer\", \"cop\", \"sheriff\", \"cps\", \"child protective\", \n    \"court\", \"judge\", \"city\", \"county\", \"state\", \"federal\", \"deputy\", \n    \"trooper\", \"detective\", \"department\"\n  ];\n  const govMatches = govWords.filter(w => content.includes(w)).length;\n  score += Math.min(SCORING.weights.governmentNexus.max, govMatches * SCORING.weights.governmentNexus.perMatch);\n  if (govMatches >= 2) factors.push(\"Government actor identified\");\n  \n  // HELP-SEEKING (+15)\n  const helpSeekingPatterns = [\n    /\\b(what can i do|what should i do|what are my options|need advice)\\b/i,\n    /\\b(any lawyers|need a lawyer|looking for (an? )?attorney)\\b/i,\n    /\\b(is this legal|can i sue|what recourse|who can help)\\b/i,\n    /\\b(please help|someone help|any advice|seeking help)\\b/i\n  ];\n  if (helpSeekingPatterns.some(p => p.test(content))) {\n    score += SCORING.weights.helpSeeking.strong;\n    factors.push(\"Actively seeking help\");\n  } else if (/\\b(help|advice|lawyer|attorney|legal)\\b/i.test(content)) {\n    score += SCORING.weights.helpSeeking.weak;\n    factors.push(\"Help-related language\");\n  }\n  \n  // FIRST PERSON (+5)\n  if (/\\b(my|i|me|we|our)\\b.*\\b(was|got|they|police|officer|cps|court)\\b/i.test(content)) {\n    score += SCORING.weights.firstPerson;\n    factors.push(\"First-person account\");\n  }\n  \n  // DAMAGES (+10)\n  const damageWords = [\n    \"fired\", \"suspended\", \"arrested\", \"jail\", \"injured\", \"taken\", \n    \"seized\", \"lost\", \"children\", \"kids\", \"custody\", \"hospital\", \n    \"beaten\", \"tased\", \"hurt\"\n  ];\n  if (damageWords.some(w => content.includes(w))) {\n    score += SCORING.weights.damages;\n    factors.push(\"Damages apparent\");\n  }\n  \n  // RECENCY (+10)\n  const recency = (p.incident_recency || \"\").toLowerCase();\n  if (recency.includes(\"today\") || recency.includes(\"just\") || recency.includes(\"hour\")) {\n    score += SCORING.weights.recency.today;\n    factors.push(\"Very recent (today)\");\n  } else if (recency.includes(\"yesterday\")) {\n    score += SCORING.weights.recency.yesterday;\n    factors.push(\"Recent (yesterday)\");\n  } else if (/\\b(monday|tuesday|wednesday|thursday|friday|this week)\\b/i.test(content)) {\n    score += SCORING.weights.recency.thisWeek;\n    factors.push(\"Recent timeline\");\n  }\n  \n  // SPECIFIC DETAILS (+10)\n  let detailBonus = 0;\n  if (/\\b(officer|deputy|detective)\\s+[A-Z][a-z]+/i.test(content)) detailBonus += SCORING.weights.specificDetails.officer;\n  if (/\\b[A-Z][a-z]+\\s+(police|sheriff|pd|department)\\b/i.test(content)) detailBonus += SCORING.weights.specificDetails.department;\n  if (/\\b[A-Z][a-z]+,?\\s+(county|city|state)\\b/i.test(content)) detailBonus += SCORING.weights.specificDetails.location;\n  score += Math.min(SCORING.weights.specificDetails.max, detailBonus);\n  if (detailBonus >= 5) factors.push(\"Specific details\");\n  \n  // ENGAGEMENT SCORING\n  const engagement = p.engagement || {};\n  const likes = engagement.likes || 0;\n  \n  if (likes > SCORING.weights.engagement.highThreshold) {\n    score += SCORING.weights.engagement.highPenalty;\n    factors.push(\"High engagement penalty\");\n  } else if (likes < SCORING.weights.engagement.lowThreshold) {\n    score += SCORING.weights.engagement.lowBonus;\n    factors.push(\"Low engagement (real help-seeker)\");\n  }\n  \n  // DETERMINE TIER\n  let tier = \"Low\";\n  if (score >= SCORING.tiers.high) tier = \"High\";\n  else if (score >= SCORING.tiers.medium) tier = \"Medium\";\n  \n  return { score, tier, factors };\n}\n\nconst validated = [];\nconst rejected = [];\n\nfor (const p of prospects) {\n  const errors = validateProspect(p);\n  if (errors.length > 0) {\n    rejected.push({ ...p, rejection_reasons: errors });\n    continue;\n  }\n  \n  const scoring = scoreProspect(p);\n  \n  validated.push({\n    ...p,\n    viability_score: scoring.score,\n    viability_tier: scoring.tier,\n    strength_factors: scoring.factors,\n    processed_at: new Date().toISOString()\n  });\n}\n\nvalidated.sort((a, b) => (b.viability_score || 0) - (a.viability_score || 0));\n\nconst summary = {\n  total_from_search: prospects.length,\n  validated: validated.length,\n  rejected: rejected.length,\n  by_tier: {\n    high: validated.filter(p => p.viability_tier === \"High\").length,\n    medium: validated.filter(p => p.viability_tier === \"Medium\").length,\n    low: validated.filter(p => p.viability_tier === \"Low\").length\n  },\n  search_stats: stats\n};\n\nconsole.log(`Validated: ${validated.length}, Rejected: ${rejected.length}`);\n\nreturn {\n  json: {\n    prospects: validated,\n    rejected,\n    summary,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        496
      ],
      "id": "validate-score-v6",
      "name": "Validate & Score v6"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================================\n// CAL PROSPECTS v6 - Build Email & PDF\n// ============================================================================\n\nconst input = $input.first().json;\nconst prospects = input.prospects || [];\nconst rejected = input.rejected || [];\nconst summary = input.summary || {};\nconst timestamp = input.timestamp || new Date().toISOString();\n\nconst date = new Date(timestamp).toLocaleDateString('en-US', {\n  weekday: 'long',\n  year: 'numeric',\n  month: 'long',\n  day: 'numeric'\n});\n\nconst time = new Date(timestamp).toLocaleTimeString('en-US', {\n  hour: 'numeric',\n  minute: '2-digit',\n  hour12: true,\n  timeZone: 'America/Chicago'\n});\n\nconst highPriority = prospects.filter(p => p.viability_tier === 'High');\nconst hasHighPriority = highPriority.length > 0;\nconst searchWarning = summary.search_stats?.searchWarning;\n\nlet html = `\n<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; line-height: 1.6; color: #333; max-width: 800px; margin: 0 auto; padding: 20px; }\n    .header { background: linear-gradient(135deg, #1a365d 0%, #2c5282 100%); color: white; padding: 30px; border-radius: 8px 8px 0 0; }\n    .header h1 { margin: 0; font-size: 24px; }\n    .header p { margin: 10px 0 0; opacity: 0.9; }\n    .version-badge { display: inline-block; background: rgba(255,255,255,0.2); padding: 2px 8px; border-radius: 4px; font-size: 11px; margin-left: 10px; }\n    .alert-banner { background: #22543d; color: #c6f6d5; padding: 15px 20px; font-weight: 600; text-align: center; }\n    .warning-banner { background: #744210; color: #fefcbf; padding: 10px 20px; font-size: 13px; text-align: center; }\n    .summary { background: #f7fafc; padding: 20px; border-left: 4px solid #3182ce; margin: 20px 0; }\n    .summary-grid { display: grid; grid-template-columns: repeat(4, 1fr); gap: 15px; text-align: center; }\n    .stat { padding: 10px; }\n    .stat-value { font-size: 28px; font-weight: bold; color: #2c5282; }\n    .stat-value.highlight { color: #22543d; }\n    .stat-label { font-size: 12px; text-transform: uppercase; color: #718096; }\n    .prospect { background: white; border: 1px solid #e2e8f0; border-radius: 8px; padding: 20px; margin: 15px 0; }\n    .prospect.high-priority { border: 2px solid #22543d; background: linear-gradient(to right, #f0fff4, white); }\n    .prospect-header { display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 15px; }\n    .prospect-title { font-size: 16px; font-weight: 600; color: #1a365d; }\n    .tier { padding: 4px 12px; border-radius: 20px; font-size: 12px; font-weight: 600; }\n    .tier-high { background: #22543d; color: white; }\n    .tier-medium { background: #fefcbf; color: #744210; }\n    .tier-low { background: #fed7d7; color: #822727; }\n    .category { display: inline-block; background: #ebf4ff; color: #3182ce; padding: 2px 8px; border-radius: 4px; font-size: 12px; margin-bottom: 10px; }\n    .summary-text { color: #4a5568; font-size: 14px; margin: 10px 0; }\n    .factors { margin-top: 10px; }\n    .factor { display: inline-block; background: #c6f6d5; color: #22543d; padding: 2px 8px; border-radius: 4px; font-size: 11px; margin: 2px; }\n    .link { color: #3182ce; text-decoration: none; font-weight: 600; }\n    .footer { text-align: center; padding: 20px; color: #718096; font-size: 12px; border-top: 1px solid #e2e8f0; margin-top: 30px; }\n    .no-prospects { text-align: center; padding: 40px; color: #718096; }\n    .pdf-note { background: #ebf4ff; padding: 15px; border-radius: 8px; margin: 20px 0; text-align: center; color: #2c5282; }\n  </style>\n</head>\n<body>\n  <div class=\"header\">\n    <h1>\ud83c\udfdb\ufe0f CAL Prospect Report <span class=\"version-badge\">v6</span></h1>\n    <p>${date} \u2022 ${time} CST</p>\n  </div>\n`;\n\nif (hasHighPriority) {\n  html += `<div class=\"alert-banner\"><span>\u26a1</span> ${highPriority.length} HIGH-PRIORITY PROSPECT${highPriority.length > 1 ? 'S' : ''} FOUND</div>`;\n}\n\nif (searchWarning) {\n  html += `<div class=\"warning-banner\">\u26a0\ufe0f ${searchWarning}</div>`;\n}\n\nhtml += `\n  <div class=\"summary\">\n    <div class=\"summary-grid\">\n      <div class=\"stat\"><div class=\"stat-value\">${summary.validated || 0}</div><div class=\"stat-label\">New Prospects</div></div>\n      <div class=\"stat\"><div class=\"stat-value ${hasHighPriority ? 'highlight' : ''}\">${summary.by_tier?.high || 0}</div><div class=\"stat-label\">High Priority</div></div>\n      <div class=\"stat\"><div class=\"stat-value\">${summary.by_tier?.medium || 0}</div><div class=\"stat-label\">Medium Priority</div></div>\n      <div class=\"stat\"><div class=\"stat-value\">${summary.search_stats?.searchCalls || 0}/${summary.search_stats?.expectedSearches || 12}</div><div class=\"stat-label\">Searches Run</div></div>\n    </div>\n  </div>\n  <div class=\"pdf-note\">\ud83d\udcce <strong>Full detailed report attached as PDF</strong></div>\n`;\n\nif (prospects.length === 0) {\n  html += `<div class=\"no-prospects\"><h2>No New Prospects This Run</h2><p>No qualifying posts were found.</p></div>`;\n} else {\n  const emailProspects = prospects.filter(p => p.viability_tier !== 'Low').slice(0, 10);\n  html += `<h2 style=\"color: #1a365d; margin-top: 30px;\">\ud83d\udccb Quick Summary (${emailProspects.length} of ${prospects.length})</h2>`;\n  \n  for (const p of emailProspects) {\n    const isHigh = p.viability_tier === 'High';\n    const tierClass = isHigh ? 'tier-high' : p.viability_tier === 'Medium' ? 'tier-medium' : 'tier-low';\n    html += `\n    <div class=\"prospect ${isHigh ? 'high-priority' : ''}\">\n      <div class=\"prospect-header\">\n        <div><div class=\"prospect-title\">${isHigh ? '\u26a1 ' : ''}${p.username || 'Unknown'}</div><span class=\"category\">${p.category || 'Civil Rights'}</span></div>\n        <span class=\"tier ${tierClass}\">${p.viability_tier} (${p.viability_score})</span>\n      </div>\n      <div class=\"summary-text\">${(p.constitutional_issue || '').substring(0, 200)}${(p.constitutional_issue || '').length > 200 ? '...' : ''}</div>\n      ${p.strength_factors?.length ? `<div class=\"factors\">${p.strength_factors.map(f => `<span class=\"factor\">\u2713 ${f}</span>`).join('')}</div>` : ''}\n      <div style=\"margin-top: 15px;\"><a href=\"${p.post_url}\" class=\"link\" target=\"_blank\">View Post \u2192</a></div>\n    </div>`;\n  }\n  \n  if (prospects.length > emailProspects.length) {\n    html += `<p style=\"text-align: center; color: #718096;\">+ ${prospects.length - emailProspects.length} more in PDF</p>`;\n  }\n}\n\nhtml += `<div class=\"footer\"><p>CAL Prospect Scanner v6 \u2022 xAI Grok x_search</p><p>\ud83d\udcca ${summary.search_stats?.searchCalls || 0} searches | ${(summary.search_stats?.tokens || 0).toLocaleString()} tokens | $${(summary.search_stats?.costUsd || 0).toFixed(3)}</p></div></body></html>`;\n\n// PDF HTML\nlet pdfHtml = `<!DOCTYPE html><html><head><style>\n@page { size: A4; margin: 0.75in; }\nbody { font-family: Georgia, serif; line-height: 1.8; color: #1a1a1a; font-size: 11pt; }\nh1 { font-size: 24pt; color: #1a365d; border-bottom: 2px solid #1a365d; padding-bottom: 10px; }\nh2 { font-size: 16pt; color: #2c5282; margin-top: 30px; border-bottom: 1px solid #e2e8f0; padding-bottom: 5px; }\n.meta { color: #718096; font-size: 10pt; margin-bottom: 20px; }\n.summary-box { background: #f7fafc; border: 1px solid #e2e8f0; padding: 15px; margin: 20px 0; }\n.prospect-card { border: 1px solid #e2e8f0; padding: 20px; margin: 20px 0; page-break-inside: avoid; }\n.prospect-card.high { border-left: 4px solid #22543d; background: #f0fff4; }\n.prospect-card.medium { border-left: 4px solid #d69e2e; }\n.tier-badge { display: inline-block; padding: 2px 10px; border-radius: 3px; font-size: 10pt; font-weight: bold; }\n.tier-badge.high { background: #22543d; color: white; }\n.tier-badge.medium { background: #d69e2e; color: white; }\n.field-label { font-weight: bold; color: #4a5568; }\n.post-text { background: #f7fafc; padding: 15px; border-left: 3px solid #3182ce; margin: 10px 0; font-style: italic; }\n.factor { display: inline-block; background: #e2e8f0; padding: 2px 8px; margin: 2px; border-radius: 3px; font-size: 9pt; }\n.url { color: #3182ce; word-break: break-all; }\n.footer { margin-top: 40px; padding-top: 20px; border-top: 1px solid #e2e8f0; font-size: 9pt; color: #718096; text-align: center; }\n</style></head><body>\n<h1>CAL Constitutional Law Firm<br>Prospect Intelligence Report v6</h1>\n<div class=\"meta\"><strong>Generated:</strong> ${date} at ${time} CST<br><strong>Period:</strong> Last 72 hours<br><strong>Searches:</strong> ${summary.search_stats?.searchCalls || 0}/${summary.search_stats?.expectedSearches || 12}</div>\n<div class=\"summary-box\"><h3 style=\"margin-top:0\">Summary</h3><p><strong>${summary.validated || 0}</strong> prospects (${summary.by_tier?.high || 0} high, ${summary.by_tier?.medium || 0} medium, ${summary.by_tier?.low || 0} low). ${summary.rejected || 0} rejected.</p>${searchWarning ? `<p style=\"color:#c53030\"><strong>Warning:</strong> ${searchWarning}</p>` : ''}</div>`;\n\nfunction buildCard(p, tier) {\n  return `<div class=\"prospect-card ${tier}\"><h3>${p.username || 'Unknown'} <span class=\"tier-badge ${tier}\">${p.viability_tier} (${p.viability_score})</span></h3>\n<p><span class=\"field-label\">Category:</span> ${p.category || 'Civil Rights'}</p>\n<p><span class=\"field-label\">Issue:</span><br>${p.constitutional_issue || 'Not specified'}</p>\n${p.full_text ? `<div class=\"post-text\">\"${p.full_text}\"</div>` : ''}\n${p.issue_details ? `<p><span class=\"field-label\">Details:</span><br>${p.issue_details}</p>` : ''}\n${p.viability_reasoning ? `<p><span class=\"field-label\">Assessment:</span><br>${p.viability_reasoning}</p>` : ''}\n${p.strength_factors?.length ? `<p><span class=\"field-label\">Factors:</span> ${p.strength_factors.map(f => `<span class=\"factor\">\u2713 ${f}</span>`).join(' ')}</p>` : ''}\n<p><span class=\"field-label\">URL:</span><br><span class=\"url\">${p.post_url}</span></p></div>`;\n}\n\nif (prospects.length === 0) {\n  pdfHtml += `<h2>No Prospects Found</h2><p>No qualifying posts in this period.</p>`;\n} else {\n  if (highPriority.length > 0) {\n    pdfHtml += `<h2>\u26a1 High-Priority (${highPriority.length})</h2>`;\n    highPriority.forEach(p => pdfHtml += buildCard(p, 'high'));\n  }\n  const medium = prospects.filter(p => p.viability_tier === 'Medium');\n  if (medium.length > 0) {\n    pdfHtml += `<h2>Medium-Priority (${medium.length})</h2>`;\n    medium.forEach(p => pdfHtml += buildCard(p, 'medium'));\n  }\n  const low = prospects.filter(p => p.viability_tier === 'Low');\n  if (low.length > 0) {\n    pdfHtml += `<h2>Low-Priority (${low.length})</h2>`;\n    low.forEach(p => pdfHtml += buildCard(p, 'low'));\n  }\n}\n\npdfHtml += `<div class=\"footer\"><p>CONFIDENTIAL - Attorney Work Product</p><p>CAL v6 \u2022 Report ID: ${$execution.id}</p></div></body></html>`;\n\nreturn {\n  json: {\n    html,\n    pdfHtml,\n    plainText: `CAL v6 Report - ${date}: ${summary.validated || 0} prospects (${summary.by_tier?.high || 0} high)`,\n    subject: hasHighPriority \n      ? `\u26a1 CAL: ${highPriority.length} HIGH-PRIORITY + ${summary.validated - highPriority.length} more - ${date}`\n      : `CAL Prospects: ${summary.validated || 0} new leads - ${date}`,\n    prospects,\n    summary,\n    hasHighPriority,\n    pdfFilename: `CAL-Prospects-v6-${new Date().toISOString().split('T')[0]}.pdf`\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        496
      ],
      "id": "build-email-v6",
      "name": "Build Email & PDF v6"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst htmlContent = input.pdfHtml;\nconst binaryData = Buffer.from(htmlContent, 'utf-8');\n\nreturn {\n  json: input,\n  binary: {\n    'index.html': {\n      data: binaryData.toString('base64'),\n      mimeType: 'text/html',\n      fileName: 'index.html'\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        496
      ],
      "id": "prepare-html-binary",
      "name": "Prepare HTML Binary"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.91:30300/forms/chromium/convert/html",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "index.html"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        496
      ],
      "id": "gotenberg-convert",
      "name": "Convert to PDF"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first();\nconst previousData = $('Build Email & PDF v6').first().json;\n\nconst binaryKeys = Object.keys(input.binary || {});\nlet pdfBase64 = null;\n\nfor (const key of binaryKeys) {\n  const bin = input.binary[key];\n  if (bin?.mimeType?.includes('pdf')) {\n    const buffer = await this.helpers.getBinaryDataBuffer(0, key);\n    pdfBase64 = buffer.toString('base64');\n    break;\n  }\n  if (bin?.data) {\n    const decoded = Buffer.from(bin.data, 'base64');\n    if (decoded.slice(0, 4).toString() === '%PDF') {\n      pdfBase64 = bin.data;\n      break;\n    }\n  }\n}\n\nif (!pdfBase64) {\n  const pdfHtmlBase64 = Buffer.from(previousData.pdfHtml).toString('base64');\n  return { json: { ...previousData, pdfAttachment: { filename: previousData.pdfFilename.replace('.pdf', '.html'), content: pdfHtmlBase64, contentType: 'text/html', encoding: 'base64' } } };\n}\n\nreturn { json: { ...previousData, pdfAttachment: { filename: previousData.pdfFilename, content: pdfBase64, contentType: 'application/pdf', encoding: 'base64' } } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1584,
        496
      ],
      "id": "prepare-attachment",
      "name": "Prepare PDF Attachment"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================================\n// CONFIG\n// ============================================================================\nconst RECIPIENTS = [\n  \"jacorbello@gmail.com\",\n  \"ccorbello@libertycenter.org\",\n];\nconst SENDER = \"CAL Prospect Scanner <prospects@mail.corbello.io>\";\n\nconst input = $input.first().json;\n\nconst payload = {\n  from: SENDER,\n  to: RECIPIENTS,\n  subject: input.subject,\n  html: input.html,\n  attachments: [{\n    filename: input.pdfAttachment.filename,\n    content: input.pdfAttachment.content,\n    type: input.pdfAttachment.contentType\n  }]\n};\n\nreturn { json: { requestBody: JSON.stringify(payload) } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2032,
        400
      ],
      "id": "build-email-body",
      "name": "Build email body"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/email",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "resendApi",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.requestBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2256,
        304
      ],
      "id": "send-email",
      "name": "Send Email (Resend)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.91:30080/webhook/cal-prospects",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ source: 'n8n-cal-prospects-v6', timestamp: $now.toISO(), prospects: $json.prospects, summary: $json.summary, hasHighPriority: $json.hasHighPriority, workflow_execution_id: $execution.id }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2256,
        496
      ],
      "id": "webhook-backup",
      "name": "Backup to Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-prospects-exist",
              "leftValue": "={{ $json.prospects.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1808,
        496
      ],
      "id": "check-prospects",
      "name": "Has Prospects?"
    },
    {
      "parameters": {
        "jsCode": "// No prospects found - skip email\nconsole.log(\"No prospects found, skipping email notification\");\nreturn { json: { skipped: true, reason: \"No prospects to report\", timestamp: new Date().toISOString() } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2032,
        592
      ],
      "id": "skip-email",
      "name": "Skip Email (No Prospects)"
    }
  ],
  "tags": [],
  "meta": null,
  "parentFolderId": null
}
